@footer_social_icon: rgba(245,245,245,0.4);
@footer_social_icon_hover: rgba(245,245,245,1.0);

.page-footer {
    .footer-copyright {
        a {
            i {
                margin: 8px;
                color: @footer_social_icon;
                -webkit-transition: all 1s;
                -moz-transition: all 1s;
                -o-transition: all 1s;
                transition: all 1s;
                &:hover {
                    color: @footer_social_icon_hover;
                }
            }
        }
    }
}
