footer.page-footer {
  margin-top: 0;
  background-color: @nav-bg;
  p {
      color: @footer-text;
  }
  h5 {
      color: white;
  }
  a {
      color: @footer-text;
  }
  ul {
      li {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: @footer-text;
          padding: 0 0 4px 0;
          a {
              
          }
      }
  }
} 