.page-footer .footer-copyright a i {
  margin: 8px;
  color: rgba(245, 245, 245, 0.4);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.page-footer .footer-copyright a i:hover {
  color: #f5f5f5;
}
