#hero {
    .container {
        h1 {
            padding: 20px;
            color: @text-light;
            background-color: @primary;
            border-top-left-radius: 2em;
            border-top-right-radius: 15px;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
            z-index: 1;
            margin: 2.2em 0 0 0;
            font-size: 3rem;
            letter-spacing: 3px;
            text-shadow: none;
        }
        h5 {
            color: @text-primary;
            padding: 20px;
            background-color: @white;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 2em;
            margin: 0 0 6.2em 0;
            box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
            z-index: 2;
            font-size: 1.4rem;
            text-shadow: none;
        }
    }
}