nav {
    ul {
        display: block;
    }
    background-color: @primary;
    .nav-wrapper {
        .brand-logo {
            h2 {
                margin: 0;
                font-size: 1.2rem;
                padding: 13px;
                color: @icons-text;
            }
        }
    }
}

.side-nav {
    li {
        overflow: hidden;
        a {
            color: @primary-text;
            i {
                font-size: 1.2rem;
                padding: 10px 10px 10px 0;
                color: @secondary-text;
            }
        }
    }

    .header {
        background-color: @primary;
        height: auto;
        h2 {
            font-size: 1.6em;
            margin-left: 20px;
            color: @icons-text;
            margin-bottom: 2px;
        }
        h5 {
            color: @secondary-text;
            font-size: 1.2em;
            margin-left: 20px;
            margin-bottom: 40px;
        }
    }
}

.menu-button {
    position: fixed;
    bottom: 45px;
    left: 24px;
    z-index: 42;
    display: none;
    .btn-floating {
        background: @light;
    }
}