.promo-card {
    background-color: @primary;
    .card-action {
        a:not(.btn):not(.btn-large):not(.btn-floating) {
            color: @primary-text;
            &:hover, &:focus {
                color: @primary-text;
            }
        }
    }
}